@use 'inc/colors';
@use 'layouts/base.scss';
@use 'layouts/small.scss';
@use 'layouts/medium.scss';
@use 'layouts/desktop.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 16px/22px 'Fira Code', monospace;;
}